.terraform
.terraform.lock.hcl
*.tfvars
*.tfplan
*.tfstate*
*.key.*
hosts.ini
.vscode
ansible.cfg
kubeconfig
ssh_config
.token
.local
.cache/
env/OVH/*.openrc
env/OVH/*.openrc.local
env/OVH/openrc.sh
talosconfig
__pycache__/
