.terraform
.terraform.lock.hcl
*.tfvars
!env/OVH/*/clusters/*.tfvars
!env/OVH/*/bastion/*.tfvars
*.tfplan
*.tfstate*
*.key.*
hosts.ini
.vscode
ansible.cfg
kubeconfig
.token
.local
.cache/
env/OVH/**/.env
env/OVH/**/openrc.sh
env/OVH/**/*.openrc
env/OVH/**/*.openrc.local
env/OVH/*/clusters/*/
env/OVH/*/bastion/*/
talosconfig
__pycache__/
