cluster = {
  id       = "factory"
  domain   = "lab"
  masters  = 1
  workers  = 0
  timezone = "Europe/Paris"
  username = "localadmin"
  cloud_init_selected = "k3s"
  factory_root_path = "/srv"
}

infra = {
  cpu       = 2
  memory_gb = 4
  disk_size = 10
}

network = {
  ip_type = "dhcp"
  mode    = "nat"
  cidr    = "192.168.100.0/24"
}

# Bridge example
#network = {
#  ip_type = "dhcp"
#  mode    = "bridge"
#  bridge_name = "br0"
#}

os = {
  selected = "ubuntu24"
}

# if cloud_init_selected=k3s
k3s = {
  version           = "v1.34.5+k3s1"
  token             = "my-super-secret-shared-token-12345"
  etcd_enabled      = true
  traefik_enabled   = true
  servicelb_enabled = true
  local_storage_enabled = true
  metrics_server_enabled = true
}