cluster = {
  id                  = "factory"
  domain              = "lab"
  timezone            = "Europe/Paris"
  username            = "localadmin"
  node_name_format    = "serial" # serial => factory-node01, role => factory-m01/factory-w01
  cloud_init_selected = "k3s"
  factory_root_path   = "/srv"
}

infra = {
  masters = {
    count         = 1
    cpu           = 2
    disk_size     = 10
    memory_gb     = 4
    #mac_addresses = []  # Optionnal 
    #ip_addresses = []   # Optionnal 
    #extra_disks = [
    #  { size_gb = 20, mount_path = "/data", filesystem = "ext4", label = "data" },
    #  { size_gb = 2, mount_path = "/logs", filesystem = "ext4", label = "logs" }
    #]
  }
  workers = {
    count         = 0
    cpu           = 2
    disk_size     = 10
    memory_gb     = 4
    #mac_addresses = []  # Optionnal 
    #ip_addresses = []   # Optionnal 
    #extra_disks = []    # Optionnal 
  }
}

network = {
  ip_type = "dhcp"
  mode    = "nat"
  cidr    = "192.168.100.0/24"
}

# Bridge with dhcp example
#network = {
#  ip_type = "dhcp"
#  mode    = "bridge"
#  bridge_name = "br0"
#}

# Bridge with static example
#network = {
#  ip_type = "static"
#  gateway = "192.168.122.1"
#  mode    = "bridge"
#  bridge_name = "br0"
#}

os = {
  selected = "ubuntu24"
}

# Libvirt connexion
#libvirt = {
#  remote = true
#  user   = "ubuntu"
#  host   = "localhost"
#  system = "system"
#  port   = 22        # Optional
#}

# #######################################################
# Optional and extras vars
# #######################################################

# if cloud_init_selected=k3s
#k3s = {
#  version           = "v1.34.5+k3s1" # Optional
#  token             = "shared-token" # Optional
#  etcd_enabled      = true           # Optional
#  traefik_enabled   = true           # Optional
#  servicelb_enabled = true           # Optional 
#  local_storage_enabled = true       # Optional
#  metrics_server_enabled = true      # Optional
#  flannel_enabled   = true           # Optional
#}

# if cloud_init_selected=rke2
#rke2 = {
#  version        = "v1.35.1+rke2r1"  # Optional
#  token          = "shared-token"    # Optional
#  tls_sans       = ["dns1", "ip1"]   # Optional
#  etcd_enabled   = true              # Optional
#  ingress_nginx_enabled  = true      # Optional
#  metrics_server_enabled = true      # Optional
#}

#ansible = {
#  pull = {
#    repo     = "https://github.com/MozeBaltyk/InfraFactory.git"
#    branch   = "main"
#    playbook = "providers/shared/ansible/local.yml"
#    token    = "ghp_xxxxxxxxxxxx" # Optional
#    timer    = "1h"               # Optional
#  }
#}
