azure_subscription_id = "xxxxxxxxxxxxxxxxxx"
azure_client_id       = "xxxxxxxxxxxxxxxxxx"
azure_client_secret   = "xxxxxxxxxxxxxxxxxx"
azure_tenant_id       = "xxxxxxxxxxxxxxxxxx"

cluster = {
  id       = "factory"
  domain   = "lab"
  timezone = "Europe/Paris"
  region = "westeurope"
  username = "localadmin"
  cloud_init_selected = "k3s"
}

infra = {
  masters{
    count  = 1
  }
  workers{
    count  = 1
    # instance_size =  standard_d8s_v5      # Optional
    # disk_size     =  20                   # Optional
    # extra_disks{                          # Optional
    #   size_gb     =  20
    #   mount_path  =  /data
    #   filesystem  =  ext4                 # Optional           
    #   label       =  data
    #}
  }
  instance_size = "standard_d8s_v5"
  disk_size     = 40
}

os = {
  selected = "ubuntu24"
}

# #######################################################
# Optional and extras vars
# #######################################################

# if cloud_init_selected=k3s
#k3s = {
#  version           = "v1.34.5+k3s1" # Optional
#  token             = "shared-token" # Optional
#  etcd_enabled      = true           # Optional
#  traefik_enabled   = true           # Optional
#  servicelb_enabled = true           # Optional 
#  local_storage_enabled = true       # Optional
#  metrics_server_enabled = true      # Optional
#  flannel_enabled   = true           # Optional
#}

# if cloud_init_selected=rke2
#rke2 = {
#  version        = "v1.35.1+rke2r1"  # Optional
#  token          = "shared-token"    # Optional
#  tls_sans       = ["dns1", "ip1"]   # Optional
#  etcd_enabled   = true              # Optional
#  ingress_nginx_enabled  = true      # Optional
#  metrics_server_enabled = true      # Optional
#}

#ansible = {
#  pull = {
#    repo     = "https://github.com/MozeBaltyk/InfraFactory.git"
#    branch   = "main"
#    playbook = "providers/shared/ansible/local.yml"
#    token    = "ghp_xxxxxxxxxxxx" # Optional
#    timer    = "1h"               # Optional
#  }
#}