azure_subscription_id = "xxxxxxxxxxxxxxxxxx"
azure_client_id       = "xxxxxxxxxxxxxxxxxx"
azure_client_secret   = "xxxxxxxxxxxxxxxxxx"
azure_tenant_id       = "xxxxxxxxxxxxxxxxxx"

cluster = {
  id                  = "factory"
  domain              = "lab"
  timezone            = "Europe/Paris"
  region              = "westeurope"
  username            = "localadmin"
  cloud_init_selected = "k3s"
}

infra = {
  masters = {
    count = 1
    # instance_size = "standard_d8s_v5"
    # disk_size     = 40
    # extra_disks = [
    #   { size_gb = 20, mount_path = "/data", filesystem = "ext4", label = "data" }
    # ]
  }

  workers = {
    count = 0
    # instance_size = "standard_d8s_v5"
    # disk_size     = 40
    # extra_disks   = []
  }
}

os = {
  selected = "ubuntu24"
}

# Optional override; if omitted, provider defaults are used.
#network = {
#  cidr         = "192.168.100.0/24"
#  subnet_index = 0
#  ip_type      = "dhcp"
#}

nsg_rules = {
  ssh = {
    port           = 22
    name           = "Allow_SSH"
    description    = "SSH access from admin IP"
    source_address = "" # Empty = autodetect current public IP during apply
  }
  k8s_api = {
    port           = 6443
    name           = "Allow_K8S_API"
    description    = "Kubernetes API access from admin IP"
    source_address = "" # Or set a fixed trusted CIDR like x.x.x.x/32
  }
}

# #######################################################
# Optional and extras vars
# #######################################################

# if cloud_init_selected=k3s
#k3s = {
#  version           = "v1.34.5+k3s1" # Optional
#  token             = "shared-token" # Optional
#  etcd_enabled      = true           # Optional
#  traefik_enabled   = true           # Optional
#  servicelb_enabled = true           # Optional 
#  local_storage_enabled = true       # Optional
#  metrics_server_enabled = true      # Optional
#  flannel_enabled   = true           # Optional
#}

# if cloud_init_selected=rke2
#rke2 = {
#  version        = "v1.35.1+rke2r1"  # Optional
#  token          = "shared-token"    # Optional
#  tls_sans       = ["dns1", "ip1"]   # Optional
#  etcd_enabled   = true              # Optional
#  ingress_nginx_enabled  = true      # Optional
#  metrics_server_enabled = true      # Optional
#}

#ansible = {
#  pull = {
#    repo     = "https://github.com/MozeBaltyk/InfraFactory.git"
#    branch   = "main"
#    playbook = "providers/shared/ansible/local.yml"
#    token    = "ghp_xxxxxxxxxxxx" # Optional
#    timer    = "1h"               # Optional
#  }
#}
